# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Models & Weights
models/
*.gguf
*.pt
*.bin
*.h5
*.safetensors
checkpoint-*/

# Gradio / HuggingFace
.gradio/
flagged/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
